{
  "presets": ["minify", "@babel/preset-env", "@babel/preset-typescript"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-transform-es2017-object-entries",
    "babel-plugin-transform-async-to-generator"
  ]
}
